/* nulling all browser's default styles */
*:not(hr) {
    padding: 0;
    margin: 0;
    border: 0;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}
nav, footer, header, aside {display:block;}
html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h5 {font-size: inherit; font-weight: 400;}

/* ------------------------------------------------------- */


/* Importing some fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

html {
    background-image: url(img/bg.jpg);
    background-blend-mode: multiply;
    background-color: rgb(116, 114, 114);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100px;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
    width: 100%;
    height: 100px;
}
}

header{
    width: 100%;
    padding: 10px 0.5% 0px 0.5%;
    background: transparent;
    float: left;
    position: fixed;
}
header #logo{
    color: #fff;
    cursor: pointer;
    
}

header #logo span{
    font-size: 1.9em;
    line-height: 45px;
    margin-left: 40px;
    font-family: 'Suez One', serif;
    color: whitesmoke;
}
#nav a{
    font-size: 1.2em;
}
@media(min-width: 701px) { 
    #logo{
        float: left;
        width: 30%;
        font-size: 1.1em;
         }

    #nav{
        float: right;
        width: 67%;
    }
     }
    


@media(max-width: 700px) { 
     #logo{
            margin-top: 15px;
            width: 100%;
            font-size: 1.5em;
             }
        
     #nav{
          float: left;
          width: 100%;
            }
         }

#nav{
    text-align: center;
    font-size: 1em;
    line-height: 40px;
    margin-bottom: 10px;
}

#nav > a{color: #fff;}

#nav > a:hover{
    color: #b0b0b0;
    text-decoration: underline;
}

#nav > a:not(:last-child){
    margin-right: 7%;
}



.container {
    max-width: 1180px;
    margin: 0 auto;
}

.vertical__title {
    text-align: center;
    margin: 10px 0;

}

.vertical{
    padding-top: 50px;

}

.title {
    font-family: 'Roboto Slab', serif;
    color: #fff;
    font-size: 30px;
    line-height: 0px;
    letter-spacing: 8px;
    text-align: center;
    padding: 60px;
}

.vertical__body {
    max-width: 1050px;
    margin: 0 auto;
}

.vertical__row {
    display: flex;
    margin: 0 -22.5px;
}

.vertical__column {
    flex: 0 1 33.333%;
    padding: 0 22.5px;
    display: flex;
    margin-bottom: 90px;
}

.vertical__item {
    background-image: linear-gradient(to bottom right, #8739f9 0%, rgba(24,181,164,1) 50%, #c651cd 100%);
    color: #fff;
    border-radius: 5px;
    border: 1px solid #8739f9;
    padding: 0 0 20px 0;
    display: flex;
    flex-direction: column;
    transition-duration: 0.5s;
}

.vertical__item:hover {
    transform: scale3d(1.05, 1.05, 1.1);
}

.vertical__subtitle {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    padding: 12px 0;
}

.vertical__image img{
    width: 320px;
    height: 180px;
}

.vertical__text {
    padding: 20px;
    font-size: 16px;
    line-height: 24px;
    flex: 1 1 auto;
}

.vertical__video video{
    width: 320px;
    height: 180px;
}

.footer {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px;
  }
  
  .footer .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;

  }

  
  .footer p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
    padding-top: 0px;
  }
  
  .footer .footer-links a:before {
    content: "•";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer .footer-links .f1:before {
    content: none;
  }
  
  .footer .footer-right {
    float: right;
    margin-top: 5px;
    max-width: 180px;
  }
  
  .footer .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    padding-top: 0px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  
  .footer .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer p.footer-links a:hover{text-decoration:underline;}
  

  
  @media (max-width: 600px) {
    .footer .footer-left, .footer .footer-right {
      text-align: center;
    }
    .footer .footer-right {
      float: none;
      margin: 0 auto 10px;
    }
    .footer .footer-left p.footer-links {
      line-height: 1.8;
    }
    .footer-right a {
      padding: 6px;
    }
  }