/* Nulling all browser's default styles */
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}.nav, footer, header, aside {display:block;}
html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h5 {font-size: inherit; font-weight: 400;}

/* ------------------------------------------------------- */


/* Importing some fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');


/* Main webpage settings */
html {
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.5);
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
}


/* Header styles */
.header {
    background-image: linear-gradient(to left, #8739f9 0%, rgba(24,181,164,1) 50%, #c651cd 100%);;
    height: 70px;
}
.header__logo {
    float: left;
    font-size: 1.9em;
    line-height: 45px;
    margin-left: 40px;
    margin-top: 10px;
    font-family: 'Suez One', serif;
    color: whitesmoke;
    transition-duration: 0.5s;
}
.header__logo:hover {
    text-shadow: 0px 0px 10px white;
}
.header__menu {
    padding-top: 25px;
}
.header__list {
    float: right;
    display: flex;
}
.header__link {
    padding-right: 40px;
    font-size: 16px;
    margin-top: 30px;
    color: #fff;
    transition: 0.5s;
}
.header__link:hover{
    letter-spacing: 1pt;
    text-decoration: underline;
    text-shadow: 0px 0px 10px white;
}


/* Categories' content styles */
.container {
    max-width: 1180px;
    margin: 0 auto;
    position: relative;
}

.vertical__title {
    text-align: center;
    margin: 30px 0;
}

.title {
    color: #fff;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.5em;
    border: 1px solid #8739f9;
    border-radius: 8px;
    box-shadow: 0px 0px 20px #8739f9;
    text-shadow: 0px 0px 10px white;
}

.vertical__body {
    max-width: 1050px;
    margin: 0 auto;
}

.vertical__row {
    display: flex;
    margin: 0 -22.5px;
}

.vertical__column {
    flex: 0 1 33.333%;
    padding: 0 22.5px;
    display: flex;
    margin-bottom: 90px;
}

.vertical__item {
    background-image: linear-gradient(to bottom right, #8739f9 0%, rgba(24,181,164,1) 50%, #c651cd 100%);
    color: #fff;
    border-radius: 5px;
    border: 1px solid #8739f9;
    padding: 0 0 20px 0;
    display: flex;
    flex-direction: column;
    transition-duration: 0.5s;
}

.vertical__item:hover {
    transform: scale3d(1.05, 1.05, 1.1);
    text-shadow: 0px 0px 5px white;
    box-shadow: 0px 0px 30px #8739f9;
}

.vertical__subtitle {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    padding: 12px 0;
}

.vertical__image img{
    width: 320px;
    height: 180px;
}

.vertical__text {
    padding: 20px;
    font-size: 16px;
    line-height: 24px;
    flex: 1 1 auto;
}

.vertical__video video{
    width: 320px;
    height: 180px;
}




/* Footer styles from main webpage */
.footer {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px;
  }
  .footer .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  .footer p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  .footer p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
    padding-top: 0px;
  }
  .footer .footer-links a:before {
    content: "•";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  .footer .footer-links .f1:before {
    content: none;
  }
  .footer .footer-right {
    float: right;
    margin-top: 5px;
    max-width: 180px;
  }
  .footer .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    padding-top: 0px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  .footer .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  .footer p.footer-links a:hover{text-decoration:underline;}
  
  
  /* Changing view for mobile display (for width lower than 600px) */
  @media (max-width: 600px) {

    /* Header display */
    .header__logo{
        margin-left: 15px;
        margin-right: 10px;
        font-size: 22px;
    }
    .header__list a{
        padding-right: 15px;
        font-size: 13px;
    }

    /* Content display */
    .vertical__row {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin: 0 auto;
    }
    .vertical__item {
        align-items: center;
    }

    /* Footer display */
    .footer .footer-left, .footer .footer-right {
      text-align: center;
    }
    .footer .footer-right {
      float: none;
      margin: 0 auto 10px;
    }
    .footer .footer-left p.footer-links {
      line-height: 1.8;
    }
    .footer-right a {
      padding: 6px;
    }
  }