@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
/* obnulenia */
*{
    padding: 0%;
    margin: 0%;
    border: 0;
}
*{
    padding: 0%;
    margin: 0%;
    border: 0;
}
*,*::before,*::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus, :active{outline: none;}
a :focus, a :active{outline: none;}

nav, footer, header, aside{display: block;}

html, body{

    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

}
input, button, textarea{font-family: inherit;}

input ::-ms-clear{display: none;}
button{cursor: pointer;}
button ::-moz-focus-inner{padding: 0; border: 0;}
a, a :visited{text-decoration: none;}
a :hover{text-decoration: none;}
ul, li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: -400;}


body, html{
    width: 100%;
    height: 100px;
}

body{
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    width: 100%;
    padding: 10px 0.5% 0px 0.5%;
    background: transparent;
    float: left;
    position: fixed;
}
header #logo{
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.logo{
  margin-left: 50px;
  height: 80px;

}

header #logo span{
    font-size: 1.7em;
    line-height: 45px;
    margin-left: 40px;
    font-family: 'Suez One', serif;
}

#nav{
  margin:  -70px;
  text-align: center;
  font-size: 1em;
  line-height: 40px;
  margin-bottom: 10px;
}

#nav > a{
  float: right;
  padding-right: 100px;
  color: #fff;
}

#nav > a:hover{
  color: #b0b0b0;
  text-decoration: underline;
}



@media(min-width: 701px) { 
    #logo{
        float: left;
        width: 30%;
        font-size: 1.1em;
         }

    #nav{
        float: right;
        width: 67%;
    }
     }
    


@media(max-width: 700px) { 
     .logo{
            margin-left: 10px;
            margin-top: -10px;
            width: 15%;
            font-size: 1.5em;
             }
        
     #nav{
          float: right;
          width: 100%;
            }
         }



/* fiksaciya shapki */
.fixed{
    z-index: 5000;
    background-image: linear-gradient(65deg, rgba(61,20,114,1) 0%, rgba(40,10,80,1) 98%);
    border-bottom: 1px solid rgb(48, 4, 83);
}
 
header.fixed #logo{
    color: #343434;
}

.fixed #nav a{color: #f7f4f4}
.fixed #nav a:hover {color: rgb(110, 110, 110)}

/* main blok */

#top{
    width: 100%;
    background-image: url(img/bg.jpg);
    background-blend-mode: multiply;
    background-color: #2e3e44;
    background-size: cover;
    text-align: center;
    color: #fff;
}


@media (min-width: 1001px) {
    #top {
      font-size: 3em;
      height: 1000px;
    }
  }
  @media (max-width: 1000px) and (min-width: 651px) {
    #top {
      font-size: 2em;
      height: 600px;
    }
  }
  
  @media (max-width: 650px) {
    #top {
      font-size: 1.3em;
      padding-top: 50%;
      height: 500px;
    }
  }
  
  @media (max-width: 450px) {
    #top {
      font-size: 0.9em;
    }
  }
  
  #top h2 {
    padding-top: 20%;
  }
  
  #top h3 {
    color: rgb(136, 127, 127);
  }

  
/* categoria */
  #category {
    float: left;
    background-image: url(img/number4.jpg);

    background-blend-mode: multiply;
    background-color: #403f40;
    background-size: cover;
    background-attachment: fixed;
  
    padding: 100px 0px 0px 50px;
    width: 100%;
    text-align: center;
    color: #fff;
  }
  .img{
    margin-left: 100px;
  }
  
  #category h2 {font-size: 4em}
  #category h4 {color: #ccc; font-size: 1.5em }
  
  @media (min-width: 561px) {
    #category h2 h4 h5 {  
      font-size: 4em;
    }
    
  }
  
  @media (max-width: 560px) {
    #category h2 {font-size: 2em }
  }
  
  #category .img {
    float: left;
    width: 30%;
    margin-right: 5%;
    margin-top: 50px;
  }
  
  #category .img:nth-child(odd) {
    margin-left: 18%;
  }
  
  #category img {
    background: #fafafa;
    padding: 5px;
    border: 2px solid silver;
    float: left;
    width: 100%;
    max-width: 500px;
  }
  
  #category span {
    float: left;
    width: 100%;
    font-size: 2em;
    margin-top: 10px;
  }
  
  @media (max-width: 700px) {
    #category .img {
      
      width: 80%!important;
      margin-right: 0!important;
      margin-left: 3%!important;
    }
  }
  


  #feedback {

    width: 100%;
    float: left;
    padding-bottom: 40px;
    padding-top: 70px;
    border-top: 3px solid rgb(44, 44, 44);
    background-image: url(img/cyberpunk.jpg);
    background-blend-mode: multiply;
    background-color: #523652;
    background-size: cover;
    background-attachment: fixed;
  }
  
  
  h1, h2, h3, h4, h5 {
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    
  }
  h6{
    margin-top: 10px;
    font-family: 'Roboto Slab', serif;
    color: #4FD1C5;
    font-size: 1.1em;
    
  }
  #feedback h5{font-size: 3em; color: #4FD1C5;}
  
  
  #form_input {
    margin-top: 15px;
    font-size: 1.1em;
  }
 
  @media (min-width: 1051px) {
    #form_input {
      width: 35%;
      margin-left: 38%;
    }
  }
  
  @media (max-width: 1050px) {
    #form_input {
      width: 90%;
      margin-left: 10%;
    }
  }
  
  #form_input label {
    color: #4FD1C5;
    cursor: pointer;
    font-size: 1.4em;
    font-family: 'Roboto Slab', serif;
  }
  
  #form_input label > span {
    color: #4FD1C5;
  }
  
  #form_input input,#form_input textarea {
    margin-bottom: 10px;
    width: 70%;
    padding: 10px 2%;
    border-radius: 7px;
    border: 2px solid silver;
    font-size: 0.9em;
    color: #4a4a4a;
  }
  
  #form_input input:focus, #form_input textarea:focus {
    border-color: #333;
  }

  
  .btn {

    min-width:90px;
    min-height: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 0px 0px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 5px;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(200px + 12px);
    min-height: calc(30px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .btn:hover, .btn:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.2s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }
  
  
  .btn2 {
    margin-left: 165px;
    min-width: 5px;
    min-height: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 0px 0px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 5px;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(90px + 12px);
    min-height: calc(30px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .btn2:hover, .btn2:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.2s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }
  
  .footer {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 60px;
  }
  
  .footer .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;

  }

  
  .footer p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
    padding-top: 20px;
  }
  
  .footer .footer-links a:before {
    content: "•";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer .footer-links .f1:before {
    content: none;
  }
  
  .footer .footer-right {
    float: left;
    padding-top: 5px;
    margin-top: -5px;
    max-width: 180px;
  }
  
  .footer .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    margin-top: -10px;
    transition:all .25s;
  }
  .footerimg{
    float: right;
    padding-top: 5px;
  }
  .copyright{
    float: left;
    padding-top: 10px;
    padding-right: 65em;
  }
  
  .footer .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer p.footer-links a:hover{text-decoration:underline;}
  

  
  @media (max-width: 600px) {
    .footer .footer-left, .footer .footer-right {
      text-align: center;
    }
    .footer .footer-right {
      float: left;
      margin-left: -50px;
    }
    .footer .footer-left p.footer-links {
      margin-left: -90px;
      font-size: 12pt;
      line-height: 1.8;
    }
    .footer-right a {
      
      padding: 6px;
    }
    .copyright{
      padding: 8px;
    }
    .footerimg{
      height: 100px;
      float: right;
      margin-top: 10px;
    }
  }
  






  